@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');


body {
  background-color: #FFCE3E;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 5%;
}

button {
  cursor: pointer;
}

h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 250px;
  font-weight: 700;
  margin: 0px;
  width: 100%;
}

h3 {
  font-weight: 800;
  margin-bottom: 27px;
}

#tagline {
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  margin: 3px 15px;
}

input {
  color: #ffffff;
  outline: none;
  display: block;
}

#form-container {
  width: 80%;
  margin: 0px auto;
}

#create-poll-container {
  margin: 5% 0px;
  width: 100%;
  text-align: center;
}

#question-container {
  display: inline-block;
  vertical-align: top;
  min-height: 100%;
  text-align: left;
  width: 40%;
}

#question {
  background-color: #FFCE3E;
  border: none;
  border-bottom: 2px solid #D53939;
  font-size: 20px;
  padding: 10px 0;
  width: 95%;
}

#options-container {
  border-left: 1px solid #D53939;
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  width: 40%;
}

.option {
  flex-direction: column;
  background-color: #FFCE3E;
  border: none;
  border-bottom: 2px solid #D53939;
  font-size: 20px;
  padding: 10px 0px;
  text-align: left;
  width: 70%;
}

#submit-poll-btn {
  background-color: #7BC7FA;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 200px;
  margin: 40px auto;
}

#link-container {
  background: linear-gradient(90deg, #616EEF
,#09A8FA);
  background-size: cover;
  display: none;
  opacity: .9;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.link-text {
  text-align: center;
  vertical-align: middle;
  margin-top: 25%;
}

.link-intro {
  color: #ffffff;
  font-size: 35px;
  z-index: 1111;
}

a {
  color: inherit;
}

#link {
  color: #FFCE3E;
  font-size: 20px;
  font-weight: 800;
  margin-top: 18px;
}

#back-to-poll-btn {
  background-color: #7BC7FA;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  margin: 35px auto;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 165px;
  }

  #question-container, #options-container {
    width: 50%;
  }

  #options-container {
    padding-left: 0px;
    border: none;
  }

  .option {
    padding: 5px;
    width: 95%;
  }

  #question-container {
    margin-bottom: 25px;
  }
}
