@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

body {
  background-color: #FFCE3E;
}

header {
  margin-top: 5%;
}

button {
  cursor: pointer;
}

h1 {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 250px;
  font-weight: 700;
  margin: 0px;
  width: 100%;
}

#tagline {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 3px 15px;
}

input, textarea {
  color: #D53939;
  outline: none;
  display: block;
}

#form-container {
  width: 80%;
  margin: 0px auto;
}

#create-poll-container {
  margin: 5% 0px;
  width: 100%;
  text-align: center;
}

textarea {
  resize: none;
}

#question-container {
  display: inline-block;
  vertical-align: top;
  min-height: 100%;
  width: 40%;
}

#question {
  background-color: #FFCE3E;
  border: none;
  border-bottom: 4px solid #D53939;
  font-size: 25px;
  width: 95%;
}

#options-container {
  border-left: 1px solid #D53939;
  display: inline-block;
  text-align: left;
  padding-left: 15px;
  width: 40%;
}

.option {
  flex-direction: column;
  background-color: #FFCE3E;
  border: none;
  border-bottom: 4px solid #D53939;
  font-size: 25px;
  padding: 15px 0px;
  text-align: left;
  width: 70%;
}

#submit-poll-btn {
  background-color: #7BC7FA;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin: 20px auto;
}

#link-container {
  background: linear-gradient(90deg, #616EEF
,#09A8FA);
  background-size: cover;
  display: none;
  opacity: .9;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.link-text {
  position: fixed;
  top: 50%;
  left: 40%;
}

.link-intro {
  z-index: 1111;
}

/*add responsiveness*/
