@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

html {
  background-color: #7BC7FA;
}
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: linear-gradient(90deg, #FFCE3E
, #FEE856);
  width: 200px;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

h1, .nickname, .avatar {
  margin-left: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

.nickname {
  display: block;
  font-weight: bold;
}

#connection-count {
  margin: 10px 10px;
}

#user-message {
  margin-top: 10px 10px;
}

.btn-login, .btn-logout {
  background-color: #7BC7FA;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
  height: 30px;
  width: 75px;
}

.avatar {
  border-radius: 10px;
  display: none;
  height: 75px;
  width: 75px;
}

#poll-container {
  background-color: #7BC7FA;
  margin-top: 50px;
  margin-left: 125px;
}

#poll-question {
  font-size: 45px;
  font-weight: bold;
}

.instructions {
  font-size: 15px;
  margin-top: 10px;
}

#poll-options {
  margin-top: 20px;
}

.option {
  color: #FFCE3E;
  text-decoration: underline;
  width: 400px;
  margin-top: 15px;
  font-size: 30px;
  cursor: pointer;
  height: 100px;
}

.vote-img {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  display: block;
  margin-top: 5px;
}
